<a href="https://colab.research.google.com/github/YONGGIJUNG/data_crawling/blob/main/multi_data_cleansing_and_merging_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



kto_201901.xlsx 엑셀 데이터 불러오기
import pandas as pd 
kto_201901 = pd.read_excel('./files/kto_201901.xlsx', 
                          header=1,
                          usecols='A:G',
                          skipfooter=4)
kto_201901.head()
[-]



# 3-2 tail() 함수 활용하기 
kto_201901.tail()
3.2.3. 데이터 전처리 하기
[-]



# 3-3 info() 함수 활용하기 
kto_201901.info()
[-]



# 3-4 describe() 함수 활용하기 
kto_201901.describe()
[-]



# 3-5 각 컬럼에서 0인 부분 필터링하기 
condition = (kto_201901['관광'] == 0) \
                | (kto_201901['상용'] == 0) \
                | (kto_201901['공용'] == 0) \
                | (kto_201901['유학/연수'] == 0) 
kto_201901[condition]
[-]



# 3-6 기준년월 컬럼 생성하기 
kto_201901['기준년월'] = '2019-01'
kto_201901.head()
[-]



# 3-7  unique() 함수 활용하기 
kto_201901['국적'].unique()
[-]



# 3-8 대륙목록 만들기 
continents_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
continents_list
[-]



# 3-9 대륙목록에 해당하는 값 제외하기 
condition = (kto_201901.국적.isin(continents_list) == False) 
kto_201901_country = kto_201901[condition]
kto_201901_country['국적'].unique()
[-]



# 3-10 kto_201901_country 데이터 head() 함수로 확인하기 
kto_201901_country.head()
[-]



# 3-11  index 재설정하기 
kto_201901_country_newindex = kto_201901_country.reset_index(drop=True) 
kto_201901_country_newindex.head()
[-]



# 3-12 대륙 컬럼값 만들기
continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + ['오세아니아']*3 \
+ ['아프리카']*2 + ['기타대륙'] + ['교포']
print(continents)
[-]



# 3-13 대륙 컬럼 생성하기 
kto_201901_country_newindex['대륙'] = continents
kto_201901_country_newindex.head()
[-]



# 3-14 kto_201901_country_newindex 데이터 tail() 확인하기 
kto_201901_country_newindex.tail()
[-]



# 3-15 관광객비율(%) 컬럼 생성하기 
kto_201901_country_newindex['관광객비율(%)'] = \
round(kto_201901_country_newindex['관광'] / kto_201901_country_newindex['계'] * 100, 1)
kto_201901_country_newindex.head()
[-]



# 3-16 관광객비율(%) 컬럼으로 내림차순 정렬하기  
kto_201901_country_newindex.sort_values(by='관광객비율(%)', ascending=False).head()
[-]



# 3-17 관광객비율(%) 컬럼으로 오름차순 정렬하기
kto_201901_country_newindex.sort_values(by='관광객비율(%)', ascending=True).head()
[-]



# 3-18 pivot_table() 함수 활용하기 
kto_201901_country_newindex.pivot_table(values = '관광객비율(%)',
                                       index = '대륙',
                                       aggfunc = 'mean')
[-]



# 3-19 중국 국적만 필터링하기 
condition = (kto_201901_country_newindex.국적 == '중국')
kto_201901_country_newindex[condition]
[-]



# 3-20 2019년 1월 우리나라 방문하는 전체 외국인 관광객 숫자 구하기 
tourist_sum = sum(kto_201901_country_newindex['관광'])
tourist_sum 
[-]



# 3-21 전체비율(%) 컬럼 생성하기
kto_201901_country_newindex['전체비율(%)'] = \
round(kto_201901_country_newindex['관광'] / tourist_sum * 100, 1)
kto_201901_country_newindex.head()
[-]



# 3-22 전체비율(%) 컬럼 기준으로 내림차순 정렬하기 
kto_201901_country_newindex.sort_values('전체비율(%)', ascending=False).head()

In [3]:
import pandas as pd

In [8]:
#2-23 create_kto_data 함수 생성하기 
def create_kto_data(yy, mm):  
    #1. 불러올 Excel 파일 경로를 지정해주기
    file_path = '/content/drive/My Drive/Colab Notebooks/datasalon-master/01_초판/3_Tourists_Event/files/kto_{}{}.xlsx'.format(yy, mm)  
    
    # 2. Excel 파일 불러오기 
    df = pd.read_excel(file_path, header=1, skipfooter=4, usecols='A:G')
    
    # 3. "기준년월" 컬럼 추가하기 
    df['기준년월'] = '{}-{}'.format(yy, mm) 
    
    # 4. "국적" 컬럼에서 대륙 제거하고 국가만 남기기 
    ignore_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']    # 제거할 대륙명 선정하기 
    condition = (df['국적'].isin(ignore_list) == False)    # 대륙 미포함 조건 
    df_country = df[condition].reset_index(drop=True) 
    
    # 5. "대륙" 컬럼 추가하기 
    continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + ['대양주']*3 + ['아프리카']*2 + ['기타대륙'] + ['교포']    # 대륙 컬럼 생성을 위한 목록 만들어 놓기 
    df_country['대륙'] = continents   
                       
    # 6. 국가별 "관광객비율(%)" 컬럼 추가하기 
    df_country['관광객비율(%)'] = round(df_country.관광 / df_country.계 * 100, 1) 
                       
    # 7. "전체비율(%)" 컬럼 추가하기 
    tourist_sum = sum(df_country['관광'])
    df_country['전체비율(%)'] = round(df_country['관광'] / tourist_sum * 100, 1)
    
    # 8. 결과 출력하기 
    return(df_country)

In [10]:
kto_test = create_kto_data(2018,12)
kto_test.head()

    국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0   일본  252461  1698  161    608  3593  258521  2018-12  아시아      97.7     22.7
1   대만   85697    71   22    266  1252   87308  2018-12  아시아      98.2      7.7
2   홍콩   58355    41    3    208   939   59546  2018-12  아시아      98.0      5.2
3  마카오    6766     0    1     20    36    6823  2018-12  아시아      99.2      0.6
4   태국   47242    42  302     58  6382   54026  2018-12  아시아      87.4      4.2

In [12]:

#Mering all existed data at the same time

df =pd.DataFrame() # Created bin dataframe

for yy in range(2010,2020):
  for mm in range(1,13):
    #yymm = '{}{}'.format(yy,mm)
    try:
      temp = create_kto_data(str(yy), str(mm).zfill(2))

      df=df.append(temp, ignore_index =True)
    #if error popped up in try then run after except
    except:
      pass

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6960 entries, 0 to 6959
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   국적        6960 non-null   object
 1   관광        6960 non-null   int64
 2   상용        6960 non-null   int64
 3   공용        6960 non-null   int64
 4   유학/연수     6960 non-null   int64
 5   기타        6960 non-null   int64
 6   계         6960 non-null   int64
 7   기준년월      6960 non-null   object
 8   대륙        6960 non-null   object
 9   관광객비율(%)  6960 non-null   float64
 10  전체비율(%)   6960 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 598.2+ KB

In [16]:
df.to_excel('/content/drive/My Drive/Colab Notebooks/datasalon-master/01_초판/3_Tourists_Event/files/kto_totalll.xlsx',index = False)